body {
    background-color: whitesmoke;
    margin-left: 20px;
    font-family: 'Cabin Sketch', cursive;
  }
  h1 {
    color: maroon;
  }
  button.button {
    color:goldenrod;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 45px;
    padding-left: 10px;
    background-color: maroon;
    opacity: 90%;
    font: bold;
  }
  #content{
    padding-top: 20px;
    padding-right: 35px;
    padding-bottom: 20px;
    padding-left: 35px;
  }
  #content p{
    border-width: 2px;
    background-color: goldenrod;
    opacity: 85%;
    padding-top: 20px;
    padding-right: 35px;
    padding-bottom: 20px;
    padding-left: 35px;
    text-align: center;
    color: maroon;
  }
  a {
    border-bottom: 1px solid maroon;
    color: maroon;
    padding-bottom: .25em;
    text-decoration: none;
  }
  a:hover{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 8.5%;
    border-bottom: 0;
    padding-bottom: .3em;
    text-decoration: none;
  }
  #image1{
      padding-left: 90px;
  }


